h1,a {
    font-family: cursive;
    text-align: left;
}


img{
width: 80px;
height: 60px;
border-radius: 5px;
 text-align: left;
}

.quadrado{
    width: 800px;
    height: 100px;
    background-color: rgba(207, 5, 5, 0.705);
    border-radius: 5px;
}

.ScoutLink{
    width: 500px;
    height: 100px;
    background-color: rgba(161, 5, 5, 0.904);
    border-radius: 5px;
}