
a {
    color: rgb(0, 0, 0);
    
}
h1 {
    font-family: cursive;
    text-align: left;
    scale: 100%;
}

header {
     display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header img {
width: 200px;
height: 150px;
border-radius: 5px;
transform: scale(1.05);


}

body{
    background-color: white;
    font-family: cursive;
    text-align: left;
}

nav a{
    margin: 10px;
    color: white;
    border: 200px;
    padding: 8px 12px;
  border-radius: 5px;
}

.menu{
    text-align: center;
    background-color: black;
}

.menu a {
    display: inline-block;
    margin: 10px 85px;
    padding: 8px 16px;
    background-color: darkred;
    color: white;
    border-radius: 50px;
    text-decoration: none;;
}

.menu a:hover {
    background-color: rgba(126, 7, 7, 0.9);
    color: white;
    transition: 0.3s;
}

.ScoutLink{
background-color: red;
width: 520px;
height: 120px;
padding: 7px;
transition: 0.3s;
border-radius:  20px;
}

.ScoutLink:hover{
transform: scale(1.05);
}

.icon {
    border: 1px solid #666;
    padding:15px;
    border-radius: 5px;
    font-size: 35px;
    margin: 0 20px;
    color: #666;
    transition: .5s;
}

.icon:hover {
    background-color: #dc143c;
    color: #fff;
    border-color: white ;
    border: 3px;
}
.perfil ion-icon {
  font-size: 30px;
}