
a {
    color: black;
    
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    scale: 100%;
    font-size: 60px;
}

header {
     display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header img {
width: 200px;
height: 150px;
border-radius: 5px;
transform: scale(1.05);


}

body{
    background-color: #b4b4b4;
    font-family: Impact, 'Arial Narrow Bold', sans-serif ; 
    text-align: left;
    
}

nav a{
    margin: 10px;
    color: white;
    border: 200px;
    padding: 8px 12px;
  border-radius: 5px;
  font-size: 20px;
}

.menu{
    text-align: center;
    background-color: black;
}

.menu a {
    display: inline-block;
    margin: 10px 80px;
    padding: 8px 12px ;
    background-color: darkred;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}

.menu a:hover {
    background-color: rgba(126, 7, 7, 0.9);
    color: white;
    transition: 0.3s;
    border: 4px solid red;
}

.ScoutLink{
    display: flex;
background-color: white;
width: 500px;
height: 120px;
padding: 7px;
transition: 0.3s;
border-radius:  20px;
margin: 5px 35px;
border: darkred solid 4px;
}

.ScoutLink:hover{
transform: scale(1.05);
}

.icon {
    border: 1px solid #666;
    padding:15px;
    border-radius: 5px;
    font-size: 35px;
    margin: 0 20px;
    color: #666;
    transition: .5s;
}

.icon:hover {
    background-color: #dc143c;
    color: #fff;
    border-color: red;
    border: 4px solid red;
}
.perfil ion-icon {
  font-size: 30px;
}
.ScoutLink img {
    display: flex;
 width: 100px;
height: 100px;
border-radius: 50%;
margin: 10px;
border: black solid 2px;
}

.ScoutLink p {
    font-size: 30px;
    color: black;
    margin: 40px
}